@font-face {
    font-family: "Forum";
    src: url("assets/fonts/Forum-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Thin.ttf");
}
body {
    width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    background-color: #030303;
}
#logo {
    width: 199px;
    height: 33px;
    top: 59px;
}
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 775px;
    height: 26px;
    top: 62px;
    left: 665px;
    gap: 60px;
    font-family: 'Roboto';
    font-weight: 100;
}
.nav-list a {
    color: white;
}
#welcome {
    width: 1920px;
    height: 810px;
    background-color: #030303;
    font-family: 'Forum';
    color: white;
}